.project {
  width: 100%;
  height: 300px;
  display: flex;
  background: #fff;
  color: black;
  margin-bottom: 30px;
}
.reverse {
  flex-direction: row-reverse;
}

.img,
.info {
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: #1a6d8e9f;

    &:hover {
      color: #383fcd;
    }
  }
}
.img {
  h3 {
    font-size: 3em;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
