.home {
  height: 100vh;
  background: rgb(35, 34, 34);
  display: flex;
}

.intro {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 60%;
  border: 4px solid #1a6d8e9f;
  aspect-ratio: 1;
  background: url(../../assets/img/myAvatar.png) 100% center / cover;
  animation: radius 8s linear infinite;
}

.menu {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  ul,
  a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 1.8em;
  }
  li {
    position: relative;
    transition: all ease-in 100ms;

    &::before {
      position: absolute;
      bottom: 12px;
      content: "";
      width: 0;
      height: 15px;
      border-radius: 5px;
      background: #1a6d8e9f;
      transition: all ease-in 200ms;
    }

    &:hover {
      transform: scale(1.1);
      transition: all ease-in 100ms;

      &::before {
        width: 80%;
        transition: all ease-in 200ms;
      }
    }
  }
}

@keyframes radius {
  0%,
  100% {
    border-radius: 55% 45% 70% 30% / 43% 30% 70% 60%;
  }
  33% {
    border-radius: 40% 60% 40% 60% / 70% 60% 40% 30%;
  }
  66% {
    border-radius: 20% 80% 20% 80% / 50% 45% 55% 50%;
  }
}
