* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Mochiy+Pop+P+One&display=swap");
$main-color: rgb(0, 0, 0);
$sfondo: rgb(255, 255, 255);
$second-color: rgba(0, 0, 0, 0.3);
$font: "Itim", cursive;

body {
  font-family: $font;
  font-size: 20px;
  background-color: $sfondo;
}
